 {# TODO LIST #}
 <div class="todo-block">
    <div class="header">
          <div class="clear"><i class="fas fa-sync-alt"></i></div>    
          <div id="date" class="date"></div>
          <div><i class="fas fa-angle-down"></i></div>   
    </div>
    <div class="container">    
        <div class="content">
          <ul id="list">
            <!-- <li class="item">
              <i class="far fa-circle"></i>
              <i class="text">drink tea</i>
              <i class="far fa-trash-alt" job="delete"></i>
            </li> -->
          </ul>
        </div>
    </div>
    <div class="add-to-do">
        <i class="fa fa-plus-circle"></i>
        <input type="text" id="input" placeholder="add to do" >
    </div>
</div>


<footer class="site-footer">
    {% block footer %}
      <div class="{{ container }}">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}

            {{ page.footer_first }}
            {{ page.footer_second }}
              <div class="site-footer__bottom text-center">
               <div id="todo-app-btn"><i class="far fa-clipboard"></i>Todo Note</div>                
              {{ page.footer_third }}
              </div>
              <div class="text-center">
                {{ page.footer_fourth }}
                All Right reserved &copy; {{ 'now'|date('Y') }} 
                | Design & developed by : <a href="https://yellow-website.com" target="_blank">Yellow-Website.com</a>
              </div>
              
        {% endif %}

        {% if page.footer_fifth %}
            {{ page.footer_fifth }}
        {% endif %}
      </div>
    {% endblock %}
  </footer>