<div id="page-wrapper">
    <div id="page">
  {# HEADER #}
      {% include '@bootstrap_sass/includes/header.html.twig' %}
  {# HIGHLIGHTED #}
      {% include '@bootstrap_sass/includes/highlighted.html.twig' %}
  {# FEATURED-TOP #}
      {% include '@bootstrap_sass/includes/featured-top.html.twig' %}
  

    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      {% block content %}
        <div id="main" class="{{ container }}">
          {{ page.breadcrumb }}
          <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section contact-form">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
              </main>
            {% if page.sidebar_first %}
              <div{{ sidebar_first_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_first }}
                </aside>
              </div>
            {% endif %}
            {% if page.sidebar_second %}
              <div{{ sidebar_second_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_second }}
                </aside>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>



{# FEATURED-BOTTOM #}
{% include '@bootstrap_sass/includes/featured-bottom.html.twig' %}
{# FOOTER #}  
{% include '@bootstrap_sass/includes/footer.html.twig' %}



  </div>
</div>
